@import "tailwindcss";
@import "tailwindcss-animated";

.font-geist {
    font-family: "Geist", "Geist Placeholder", sans-serif;
  }
  
  .font-playfair {
    font-family: "Playfair Display", "Playfair Display Placeholder", serif;
  }

 .bg-green {
   background-color: #177245
 }

 .text-green {
    color: #177245;
 }

 .text-black {
  color: #1c3125
 }

 /* Add to your global CSS */
html {
  scroll-behavior: smooth;
}


 